## <a name="markdown100"></a> Indice Numpy:
[Numpy](#markdown1)

[¿Por qué Pandas?](#markdown2)

[Formas de importarlas:](#markdown3)

[Slicing List](#markdown0)

[ Sclicing Matrix:](#markdown4)

[Tipos de datos](#markdown5)

[Dimensiones en los datos](#markdown6)

[Agregar o Eliminar dimensiones](#markdown7)

[Expandir dimensiones](#markdown8)

[Remover/comprimir las dimensiones que no están siendo usadas.](#markdown9)

[Creando Arrays con **NumPy**](#markdown10)

[Creando listas solo con ceros](#markdown11)

[Creando Matrices solo con ceros](#markdown12)

[Creando Matrices solo con unos.](#markdown13)

[Creando listas con valores equidistantes entre ellos](#markdown14)

[Matríz Identidad](#markdown15)

[Valores Aleatoreos "un valor"](#markdown16)

[Valores Aleatoreos "una lista de valores"](#markdown17)

[Valores Aleatoreos "una matriz de valores"](#markdown18)

[Valores Aleatoreos "Enteros"](#markdown19)

[Shape](#markdown20)

[Reshape](#markdown21)

[Funciones Principales de NumPy](#markdown22)

[Devuelve el máx número por columna](#markdown23)

[Devuelve el máx número por fila](#markdown24)

[ptp(), pico a pico](#markdown25)

[Percentile()](#markdown26)

[sort()](#markdown27)

[median()](#markdown28)

[median() con Matrices](#markdown29)

[Desviación std()](#markdown30)

[Varianza var()](#markdown31)

[La Media mean()](#markdown32)

[Concatenar concatenate()](#markdown33)

[Transpuesta](#markdown34)

[copy()](#markdown35)

[Condiciones](#markdown36)

[Operaciones](#markdown37)

[Producto entre Matrices](#markdown38)

## <a name="markdown1000"></a> Indice Pandas:

[Series](#markdown39)

[Creando lista con índices específicos](#markdown40)

[Pandas DataFrame](#markdown41)

[Creando una structura matricial con diccionarios](#markdown42)

[Leyendo CSV](#markdown43)

[Leyendo JSON](#markdown44)

[Selectionando filas con slicing](#markdown45)

[Selectionando columnas con una lista](#markdown46)

[loc()](#markdown47)

[iloc()](#markdown48)

[Eliminar columnas de un df](#markdown49)

[Eliminar filas de un df](#markdown50)

[Agregar columnas a un df](#markdown51)

[Agregar filas **append()** a un df](#markdown52)

[Agregar filas **concat()** a un df](#markdown53)

[Manejo de Datos Nulos](#markdown54)

[isnull()](#markdown55)

[fillna()](#markdown56)

[Interpolate()](#markdown57)

[dropna()](#markdown58)

[Filtrado por condiciones](#markdown59)

[Funciones Principales](#markdown60)

[head()](#markdown61)

[info()](#markdown62)

[describe()](#markdown63)

[tail()](#markdown64)

[memory_usage()](#markdown65)

[value_count()](#markdown66)

[drop_duplicate()](#markdown67)

[sort_values()](#markdown68)

[groupby()](#markdown69)

[agg()](#markdown70)

[agg() usando un diccionario, de parámetros](#markdown71)

[Combinando Data Frames](#markdown72)

[Diferencias entre Merge(), Join(), y Concat()](#markdown73)

[concat()](#markdown74)

[merge()](#markdown75)

[join()](#markdown76)

[pivot_table()](#markdown77)

[melt()](#markdown78)

[apply()](#markdown79)

[Pandas Documentation](https://pandas.pydata.org/docs/user_guide/10min.html)

# Numpy
* Cálculo numérico
* Manejo de Arrays.

# pandas:
* Manipulación y análisis de datos.
# <a name="markdown1"></a> ¿Por qué Numpy?
* Es una librería enfocada al cálculo numérico y manejo de Arrays.

* Es muy veloz, hasta 50 veces más rápido que usar una lista de Python o C.
* Optimiza el almacenamiento en memoria.
* Maneja distintos tipos de datos.
* Es una librería muy poderosa, se pueden crear redes neuronales desde cero.

# <a name="markdown2"></a> ¿Por qué Pandas?
* Pandas está enfocada a la manipulación y análisis de datos.

* Al estar construido sobre NumPy es veloz.
* Requiere poco código para manipular los datos.
* Soporta múltiples formatos de archivos.
* Ordena los datos en una alienación inteligente.
* Se pueden manejar grandes cantidades de datos, hacer analítica y generar dashboards.
* Anilisis inteligente.

#### El array es el principal objeto de la librería. Representa datos de manera estructurada y se puede acceder a ellos a través del indexado, a un dato específico o un grupo de muchos datos específicos.

# <a name="markdown3"></a> Formas de importarlas:
[Indice](#markdown100)

In [1]:
import numpy as np
import pandas as pd

In [ ]:
lista = [1, 2 , 3, 4, 5, 6, 7, 8, 9]

#Volvemos nuestra lista, un array
arr = np.array(lista)

In [2]:
matriz = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matriz = np.array(matriz)

In [3]:
print(matriz)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

### <a name="markdown0"></a> Slicing List
[Indice](#markdown100)

In [12]:
lista = [1, 2 , 3, 4, 5, 6, 7, 8, 9]
lista = np.array(lista)
print(lista[1:6])
print(lista[:6])
print(lista[2:])
print(lista[::3])
print(lista[-1])
print(lista[-3])

[2 3 4 5 6]
[1 2 3 4 5 6]
[3 4 5 6 7 8 9]
[1 4 7]
9
7

### <a name="markdown4"></a>  Sclicing Matrix:
[Indice](#markdown100)

In [16]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = np.array(matrix)
print(matrix)
print("*"*15)
print(matrix[1:]) #Desde la fila 1 en adelante.
print("*"*15)
print(matrix[1:,0:2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
***************
[[4 5 6]
 [7 8 9]]
***************
[[4 5]
 [7 8]]

* **matrix[fila, columna]** --> devuelve el valor en esa fila intersección esa columna

### <a name="markdown5"></a> Tipos de datos
### [Tipos de datos numpy](https://numpy.org/doc/stable/user/basics.types.html):
[Indice](#markdown100)

In [17]:
arr = np.array([1, 2, 3, 4])
arr.dtype #Muestra el tipo de dato de los componenetes de array.

dtype('int64')

In [18]:
arr = np.array([1, 2, 3, 4], dtype='float64') #Cambiamos el tipo de dato!!!
arr.dtype

dtype('float64')

In [20]:
arr = np.array([1, 2, 3, 4]) # type int64
arr = arr.astype(np.float64) # otra forma de cambiar el tipo de dato.
arr.dtype

dtype('float64')

* En términos de resultado final, no hay diferencia entre las dos formas de cambiar el tipo de datos de un arreglo NumPy. Ambas líneas de código logran el mismo resultado: cambiar el tipo de datos del arreglo arr a float64.

* La diferencia radica en el enfoque utilizado para realizar la conversión:

* En la primera línea de código, se especifica el tipo de datos deseado directamente al crear el arreglo mediante el argumento dtype='float64'. Esto significa que el arreglo se crea inicialmente con el tipo de datos especificado.

* En la segunda línea de código, se utiliza el método astype() de NumPy para realizar la conversión explícita del tipo de datos del arreglo. El método astype() toma como argumento el tipo de datos al que se desea convertir el arreglo.
También se podría definir como sigue:
```python
arr = [1, 2, 3, 4]
arr = np.array(arr, dtype='float64') #Cambiamos el tipo de dato!!!
arr.dtype
```

In [25]:
arr = np.array([0, 1, 2, 3, 4])
arr = arr.astype(np.bool_) #Cambiando a Booleano!!!
arr

array([False,  True,  True,  True,  True])

In [28]:
arr = np.array([0, 1, 2, 3, 4])
arr = arr.astype(np.string_) #Cambiando a Booleano!!!
arr

array([b'0', b'1', b'2', b'3', b'4'], dtype='|S21')

In [29]:
arr = np.array(['0', '1', '2', '3', '4'])
arr = arr.astype(np.int8) #Cambiando a Booleano!!!
arr

array([0, 1, 2, 3, 4], dtype=int8)

### <a name="markdown6"></a> Dimensiones en los datos:
[Indice](#markdown100)
* **Scalar: 0 Un solo dato o valor --> 2 o "r", un solo valor.**
```python
scalar = np.array(42)
print(scalar) 
scalar.ndim #muestra las dimensiones.
```
* **Vector: Listas de Python --> [1,2,3,4]**
```python
scalar = np.array([1,2,3,4])
print(scalar) 
scalar.ndim #muestra las dimensiones.
```
* **Matriz: Hoja de cálculo --> algo que tenga 2 dimensiones (fila, columna).**
```python
scalar = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(scalar) 
scalar.ndim #muestra las dimensiones.
```
* **Tensor: Series de tiempo o Imágenes**
![tensor](https://static.platzi.com/media/articlases/Images/tensor.JPG)
```python
tensor = np.array([
    [
        [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]
    ],
    [
        [13, 13, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]
    ]
]) #Matríz 4x3 en la primer posición, matríz 4x3 en la segunda posición.
print(tensor)
tensor.ndim
```
* **Nota, el tensor tiene tres dimensiones**: 
* la primera dimensión corresponde a las dos matrices internas. 
* La segunda dimensión corresponde a las filas de cada matriz.
* La tercera dimensión corresponde a las columnas de cada matriz.

In [13]:
tensor = np.array([
                        [        
                            [
                                [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]
                            ],
                            [
                                [13, 13, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24]
                            ]
                        ]
                    ]) #Matríz 4x3 en la primer posición, matríz 4x3 en la segunda posición.
print(tensor)
tensor.ndim # Con 4 dimensiones.

[[[[ 1  2  3]
   [ 4  5  6]
   [ 7  8  9]
   [10 11 12]]

  [[13 13 15]
   [16 17 18]
   [19 20 21]
   [22 23 24]]]]

4

### <a name="markdown7"></a>  Agregar o eliminar dimensiones
[Indice](#markdown100)
* Se puede definir el número de dimensiones desde la declaración del array

In [16]:
vector = np.array([1, 2, 3], ndmin = 10)
print(vector) 
vector.ndim

[[[[[[[[[[1 2 3]]]]]]]]]]

10

### <a name="markdown8"></a>  Expandir dimensiones
[Indice](#markdown100)
* Se pueden expandir dimensiones a los array ya existentes con expand_dims(). Axis = 0 hace referencia a las filas, mientras que axis = 1 a las columnas.

In [14]:
expand = np.expand_dims(np.array([1, 2, 3]), axis = 0)
print(expand)
expand.ndim

[[1 2 3]]

2

In [15]:
expand = np.expand_dims(np.array([1, 2, 3]), axis = 1)
print(expand)
expand.ndim

[[1]
 [2]
 [3]]

2

### <a name="markdown9"></a>  Remover/comprimir las dimensiones que no están siendo usadas.
[Indice](#markdown100)

In [18]:
vector = np.array([1, 2, 3], ndmin = 10)
print(vector, vector.ndim) 
vector_2 = np.squeeze(vector)
print(vector_2, vector_2.ndim)

[[[[[[[[[[1 2 3]]]]]]]]]] 10
[1 2 3] 1

### <a name="markdown10"></a>  Creando Arrays con **numpy**
[Indice](#markdown100)
* Numpy nos da varios métodos muy eficientes para poder crear arrays desde 0.

* Este método de NumPy nos permite generar arrays sin definir previamente una lista

In [20]:
# forma tradicional con python.
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# numpy
list_01 = np.arange(1,10)
print(list_01)
list_02 = np.arange(1,10,2) # De 2 en 2
print(list_02)

[1 2 3 4 5 6 7 8 9]
[1 3 5 7 9]

### <a name="markdown11"></a>  Creando listas solo con ceros
[Indice](#markdown100)

In [25]:
np.zeros(3)

array([0., 0., 0.])

### <a name="markdown12"></a> Creando Matrices solo con ceros.
[Indice](#markdown100)

In [27]:
np.zeros((10,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### <a name="markdown13"></a>  Creando Matrces solo con unos.
[Indice](#markdown100)

In [28]:
np.ones((10,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

### <a name="markdown14"></a> Crea listas con valores equidistantes entre ellos.
[Indice](#markdown100)
* Sintaxis:
```python
numpy.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None)
```
* **start:** Es el valor inicial del rango.
* **stop:** Es el valor final del rango.
* **num:** Es el número de elementos que se generarán en el arreglo. Por defecto es 50.
* **endpoint:** Un valor booleano que indica si el valor final está incluido en el arreglo. Si es True, el valor final está incluido; si es False, el valor final no está incluido. Por defecto es True.
* **retstep:** Un valor booleano que indica si se debe retornar el espaciado entre los valores del arreglo. Si es True, se retorna el arreglo y el espaciado; si es False, solo se retorna el arreglo. Por defecto es False.
* **dtype:** El tipo de dato de los elementos en el arreglo. Por defecto es None, lo que significa que se utilizará el tipo de dato por defecto de NumPy.

In [35]:
values = np.linspace(0,10,num=12, retstep=True)# desde 0 hasta 10 con 12 valores
print(values)

(array([ 0.        ,  0.90909091,  1.81818182,  2.72727273,  3.63636364,
        4.54545455,  5.45454545,  6.36363636,  7.27272727,  8.18181818,
        9.09090909, 10.        ]), 0.9090909090909091)

### <a name="markdown15"></a>  Matriz identidad
[Indice](#markdown100)
* El comando eye es una función de NumPy que se utiliza para crear una matriz identidad. Una matriz identidad es una matriz cuadrada en la que todos los elementos de la diagonal principal son iguales a 1 y los demás elementos son iguales a 0.

* La sintaxis general de eye es la siguiente:
```python
numpy.eye(N, M=None, k=0, dtype=<class 'float'>, order='C')
```
* **N:** Es el número de filas de la matriz.
* **M:** (Opcional) Es el número de columnas de la matriz. Si no se especifica, se asume que M=N, por lo que la matriz será cuadrada.
* **k:** (Opcional) Es el desplazamiento de la diagonal principal. Un valor positivo indica una diagonal por encima de la diagonal principal, y un valor negativo indica una diagonal por debajo de la diagonal principal. Por defecto, k=0 y la diagonal principal estará compuesta de unos.
* **dtype:** (Opcional) El tipo de dato de los elementos en la matriz. Por defecto, es un tipo de dato flotante (float).
* **order:** (Opcional) Especifica el orden en que se almacenan los elementos en la matriz. Puede ser 'C' (por filas) o 'F' (por columnas). Por defecto, es 'C'.

In [36]:
matriz_identidad = np.eye(3)

print(matriz_identidad)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### <a name="markdown16"></a> Valores Aleatoreos "un valor":
[Indice](#markdown100)

In [37]:
np.random.rand()

0.6507831363398214

### <a name="markdown17"></a> Valores Aleatoreos "una lista de valores":
[Indice](#markdown100)

In [38]:
np.random.rand(4)

array([0.58510919, 0.11935745, 0.40646536, 0.49571867])

### <a name="markdown18"></a> Valores Aleatoreos "una Matríz de valores":
[Indice](#markdown100)

In [39]:
np.random.rand(2,3)

array([[0.56556431, 0.77719616, 0.71526729],
       [0.61868235, 0.6897348 , 0.36030092]])

### <a name="markdown19"></a>  Valores Aleatoreos "Enteros":
[Indice](#markdown100)
```python
numpy.random.randint(low, high=None, size=None, dtype=int)
```
* **low:** es el límite inferior del rango (inclusive).
* **high:** es el límite superior del rango (exclusivo). Si no se proporciona, se asume que es el límite superior y el límite inferior se establece en 0.
* **size:** es la forma o dimensiones del array que se desea generar. Puede ser un número entero para generar un único número aleatorio o una tupla de enteros para generar un array multidimensional. Si no se proporciona, se devuelve un único número entero.
* **dtype:** es el tipo de datos de los elementos generados. Por defecto, se utiliza int.

In [40]:
np.random.randint(1,15)

6

In [41]:
np.random.randint(1,100,(10,10))

array([[44, 73, 76, 79, 83, 57, 42, 51, 41, 55],
       [29, 83, 71, 53, 55, 30, 74, 84, 17, 16],
       [70, 20, 74, 39, 51, 59,  7, 82, 13, 71],
       [25, 79, 36, 90,  1, 24, 61, 16, 75,  2],
       [71, 55, 90, 78, 78, 90, 38, 71, 16, 11],
       [81, 62, 42, 92, 74, 56,  6, 14, 10, 13],
       [72, 11, 98, 57, 26, 76, 64, 90, 36, 39],
       [82, 52, 14, 10, 29, 46, 28, 41, 14, 50],
       [88, 59, 25, 92, 30, 50, 10, 29, 12, 73],
       [14, 74, 36, 35, 62,  3, 82, 15, 16, 38]])

### <a name="markdown20"></a>  Shape:
[Indice](#markdown100)
* Forma del arreglo.

In [44]:
arr = np.random.randint(1,10,(3,2))
print(arr)
arr.shape # retorna la forma, en este caso una matríz de 3x2

[[6 2]
 [3 8]
 [3 4]]

(3, 2)

### <a name="markdown21"></a> Reshape:
[Indice](#markdown100)
* Cambia la forma del arreglo.
```python
numpy.reshape(array, newshape, order='C')
```
* **array:** El array original que se desea redimensionar.
* **newshape:** La nueva forma que se desea dar al array. Puede ser especificada como una tupla de enteros o como una lista de enteros separados por comas. Es importante tener en cuenta que la cantidad total de elementos en el array original debe ser igual a la cantidad total de elementos en el nuevo array.
* **order (opcional):** Especifica el orden en que se deben leer los elementos del array original para reorganizarlos en el nuevo array. Los posibles valores son 'C' (orden C-contiguo, por defecto), 'F' (orden Fortran-contiguo), o 'A' (lo ordena según la mejor performance del computador).

#### Nota: los parámetros 'C' y 'F' se refieren al orden en el que los elementos del array original se almacenan en la memoria.

#### 'C' hace referencia al estilo de orden C-contiguo, también conocido como orden de fila principal (row-major order) o almacenamiento en el estilo C. En este orden, los elementos de una matriz bidimensional se almacenan por filas, es decir, los elementos de una misma fila se almacenan de forma contigua en la memoria. Este es el orden por defecto en NumPy.
![C-style contiguous segment](https://static.platzi.com/media/user_upload/Apilar%20por%20filas%20V-ca01870a-aaaf-4bdb-8203-6885bd220f20.jpg)
#### 'F' se refiere al estilo de orden Fortran-contiguo, también conocido como orden de columna principal (column-major order) o almacenamiento en el estilo Fortran. En este orden, los elementos de una matriz bidimensional se almacenan por columnas, es decir, los elementos de una misma columna se almacenan de forma contigua en la memoria.
![Fortran-style contiguous segment](https://static.platzi.com/media/user_upload/Apilar%20por%20Columnas-0b5370fe-2271-4d55-bd10-5b290114678b.jpg)
#### La diferencia entre ambos órdenes radica en cómo se accede a los elementos de la matriz en la memoria. Al trabajar con arrays multidimensionales grandes, el orden de almacenamiento puede afectar el rendimiento y la eficiencia del acceso a los elementos.

#### En la mayoría de los casos, el orden 'C' es utilizado por defecto y es adecuado para la mayoría de las operaciones y algoritmos. Sin embargo, en algunos casos particulares, como cuando se trabaja con operaciones lineales algebraicas o algoritmos específicos que requieren un acceso eficiente por columnas, se puede utilizar el orden 'F'.

#### Además, existe la opción de hacer reshape según como esté optimizado nuestro computador. En este caso es como en A.

In [47]:
arr = np.random.randint(1,10,(3,2))
print(arr)
arr.reshape(1,6) # 1x6, está límitado por la cantidad de valores individuales.

[[3 2]
 [8 5]
 [6 4]]

array([[3, 2, 8, 5, 6, 4]])

In [48]:
np.reshape(arr,(1,6)) #otra forma equivalente y válida.

array([[3, 2, 8, 5, 6, 4]])

In [50]:
np.reshape(arr,(2,3), 'C')

array([[3, 2, 8],
       [5, 6, 4]])

In [51]:
np.reshape(arr,(2,3), 'F')

array([[3, 6, 5],
       [8, 2, 4]])

In [52]:
np.reshape(arr,(2,3), 'A')

array([[3, 2, 8],
       [5, 6, 4]])

### <a name="markdown22"></a> Funciones Principales de NumPy:
[Indice](#markdown100)

In [55]:
arr = np.random.randint(1,20,10)
arr

array([19, 16, 14,  7,  9,  8,  5, 19, 18, 12])

In [56]:
matriz = arr.reshape(2,5)
matriz

array([[19, 16, 14,  7,  9],
       [ 8,  5, 19, 18, 12]])

In [57]:
np.max(arr) #arr.max() también funciona.

19

In [58]:
np.max(matriz) #matriz.max() también funciona.

19

### <a name="markdown23"></a>  Devuelve el máx número por columna.
[Indice](#markdown100)
* matriz.max(0) también funciona.

In [60]:
np.max(matriz, 0)

array([19, 16, 19, 18, 12])

### <a name="markdown24"></a>  Devuelve el máx número por fila.
[Indice](#markdown100)
* matriz.max(1) también funciona.

In [61]:
np.max(matriz, 1)

array([19, 19])

#### También tenemos .argmax() que nos devuelve la posición del Máx. elemento

In [64]:
arr = np.random.randint(1,20,10)
print(arr)
arr.argmax()

[11  8  5  6  7 12 15  7  8  1]

6

In [67]:
matriz = arr.reshape(2,5)
print(matriz)
matriz.argmax(0)

[[11  8  5  6  7]
 [12 15  7  8  1]]

array([1, 1, 1, 1, 0])

In [68]:
matriz.argmax(1)

array([0, 1])

#### Nota: Funcionamiento contrario remplazando "max" por "min"

### <a name="markdown25"></a> ptp(), pico a pico:
[Indice](#markdown100)
* Devuelve la diferencia entre Máx y Mín.

In [70]:
arr = np.random.randint(1,20,10)
arr

array([16, 14, 14,  6,  3,  6,  8, 14,  5, 18])

In [71]:
arr.ptp()

15

### <a name="markdown26"></a> Percentile()
[Indice](#markdown100)
* La función np.percentile() en NumPy se utiliza para calcular los percentiles de un conjunto de datos. Un percentil es un valor que indica la posición relativa de un dato dentro de un conjunto, es decir, el porcentaje de datos que se encuentran por debajo de ese valor.

* La sintaxis básica de la función np.percentile() es la siguiente:
```python
np.percentile(data, q, axis=None)
```
* **data:** Es el conjunto de datos del cual se desea calcular el percentil.
* **q:** Es el percentil o lista de percentiles que se desean calcular. Puede ser un solo valor o una lista de valores.
* **axis:** Es un parámetro opcional que indica a lo largo de qué eje se deben calcular los percentiles en el caso de arrays multidimensionales. Por defecto, se calculan los percentiles en todo el array.
La función np.percentile() devuelve el valor del percentil o una lista de valores si se pasó una lista de percentiles como parámetro q.

#### Nota: El percentil es una medida de posición usada en estadística que indica, una vez ordenados los datos de menor a mayor, el valor de la variable por debajo del cual se encuentra un porcentaje dado de observaciones en un grupo. Por ejemplo, el percentil 20 es el valor bajo el cual se encuentran el 20 % de las observaciones, y el 80 % restante son mayores.

In [4]:
arr = np.random.randint(1,100,10)
arr

array([82, 46, 42, 97, 89, 81, 49, 38, 93, 27])

In [8]:
percentil = np.percentile(arr,50)
percentil

65.0

In [14]:
arr_01 = [1,2,3,4,5,6,7,8,9,10]

per_0 = np.percentile(arr_01,0)
per_50 = np.percentile(arr_01,50)
per_100 = np.percentile(arr_01,100)
print(per_0, per_50, per_100)

1.0 5.5 10.0

### <a name="markdown27"></a> sort():
[Indice](#markdown100)
* ordena de menor a mayor.
```python
arr = arr.sort()
```

### <a name="markdown28"></a> median():
[Indice](#markdown100)
* Entrega la mediana, el valor que está en la mitad.

In [16]:
arr = np.random.randint(1,100,20)
print(arr)
med = np.median(arr)
print(med)

[14 38 59 13 10 25 24 97 94 57 41 32 41 63 97 93 10 83 97 78]
49.0

### <a name="markdown29"></a> median() con Matrices:
[Indice](#markdown100)

In [23]:
matrix = np.reshape(arr,(2,10))
print(matrix)

med_mat_col = np.median(matrix,0) #Por Columnas.
print(f'by col: {med_mat_col}')

med_mat_row = np.median(matrix,1)
print(f'by row: {med_mat_row}')

[[14 38 59 13 10 25 24 97 94 57]
 [41 32 41 63 97 93 10 83 97 78]]
by col: [27.5 35.  50.  38.  53.5 59.  17.  90.  95.5 67.5]
by row: [31.5 70.5]

### <a name="markdown30"></a> Desviación std():
[Indice](#markdown100)

In [24]:
arr = np.random.randint(1,100,20)
dsta = np.std(arr)
print(dsta)

29.583610327341724

### <a name="markdown31"></a> Varianza var()
[Indice](#markdown100)

In [34]:
arr = np.random.randint(1,100,20)
var = np.var(arr)

#Nota, la var = dsta**2
dsta = np.std(arr)
var_01 = dsta**2 #La varianza = al cuadrado de la desv std.
print(f'var: {var}, dsta: {dsta}, dsta**2: {var_01}')

var: 940.6899999999998, dsta: 30.670670028546812, dsta**2: 940.6899999999997

### <a name="markdown32"></a> La Media mean()
[Indice](#markdown100)
* Es el promedio.
```python
arr = np.mean(arr)
```

### <a name="markdown33"></a> Concatenar concatenate()
[Indice](#markdown100)

In [40]:
a = np.array([[1,2],[3,4]])
print(a)
b = np.array([5,6]) # Tiene dim: 1
print(b)

[[1 2]
 [3 4]]
[5 6]

#### **Tienen que tener las mismas dimensiones**

In [37]:
b_exp_col = np.expand_dims(b, axis=0)
b_exp_row = np.expand_dims(b, axis=1)

print(b_exp_col, f'dim: {b_exp_col.ndim}')
print(b_exp_row, f'dim: {b_exp_row.ndim}')

[[5 6]] dim: 2
[[5]
 [6]] dim: 2

#### **A concatenar por columnas:**

In [38]:
conc_col = np.concatenate((a,b_exp_col), axis=0)
conc_col

array([[1, 2],
       [3, 4],
       [5, 6]])

#### Concatenamos por filas:

In [43]:
conc_col = np.concatenate((a,b_exp_row), axis=1)
conc_col

array([[1, 2, 5],
       [3, 4, 6]])

### <a name="markdown34"></a> Transpuesta T:
[Indice](#markdown100)
* ejemplo pasa de 3x2 --> 2x3

In [45]:
a = np.array([[1,2],[3,4]])
print(a)
a_transp = a.T
print(a_transp)

[[1 2]
 [3 4]]
[[1 3]
 [2 4]]

### Entonces podemos utilizar para concatenar

In [47]:
conc_col = np.concatenate((a,b_exp_col.T), axis=1) #Sin la "T" da error, y nos da igual que b_exp_row
conc_col

array([[1, 2, 5],
       [3, 4, 6]])

### <a name="markdown35"></a> copy():
[Indice](#markdown100)
* Uno de los problemas más comunes es manipular una variable y modificarla, tal como se observa en el siguiente ejemplo.

In [60]:
arr = np.arange(1,11)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10]

In [59]:
arr_cuted_01 = arr[0:6]
print(arr_cuted_01)

arr_cuted_01[:] = 0 #todos los valores en 0.
print(arr_cuted_01)

print(arr) #Se ve el cambio a la variable original

[1 2 3 4 5 6]
[0 0 0 0 0 0]
[ 0  0  0  0  0  0  7  8  9 10]

#### Solución a Copy:

In [64]:
arr = np.arange(1,11)
print(arr)

arr_copy = arr.copy()
arr_copy[:] = 100

print(arr_copy)
print(arr) #Se mantiene el original!!!

[ 1  2  3  4  5  6  7  8  9 10]
[100 100 100 100 100 100 100 100 100 100]
[ 1  2  3  4  5  6  7  8  9 10]

### <a name="markdown36"></a> Condiciones:
[Indice](#markdown100)

In [70]:
arr = np.linspace(1,10,10, dtype='int8')
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int8)

In [72]:
arr[arr>7]

array([ 8,  9, 10], dtype=int8)

In [69]:
cond_index = arr > 5
cond_index

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [71]:
arr[(arr>5) & (arr<9)]

array([6, 7, 8], dtype=int8)

In [73]:
arr[arr>5] = 99
arr

array([ 1,  2,  3,  4,  5, 99, 99, 99, 99, 99], dtype=int8)

In [75]:
arr[arr==99]

array([99, 99, 99, 99, 99], dtype=int8)

### <a name="markdown37"></a> Operaciones:
[Indice](#markdown100)

#### Con una lista de Python No multiplica cada valor por 2, sino que duplica la lista

In [77]:
py_list = [1,2]
py_list * 2

[1, 2, 1, 2]

#### Con numpy si podemos hacerlo

In [83]:
arr = np.arange(0,10)
arr_01 = arr.copy()
print(arr)
print(arr_01*2)
print(arr_01+2)
print(1/arr) #No detuvo la ejecución, pero si lanzó una advertencia de 1/0

[0 1 2 3 4 5 6 7 8 9]
[ 0  2  4  6  8 10 12 14 16 18]
[ 2  3  4  5  6  7  8  9 10 11]
[       inf 1.         0.5        0.33333333 0.25       0.2
 0.16666667 0.14285714 0.125      0.11111111]

/tmp/ipykernel_585/2374450473.py:6: RuntimeWarning: divide by zero encountered in divide
  print(1/arr) #No detuvo la ejecución, pero si lanzó una advertencia de 1/0

In [82]:
print(arr**2)
print(arr + arr_01)

[ 0  1  4  9 16 25 36 49 64 81]
[ 0  2  4  6  8 10 12 14 16 18]

In [86]:
matriz = arr.reshape(2,5)
print(matriz)
matriz_01 = matriz.copy()

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [88]:
sum_matriz = matriz + matriz_01
print(sum_matriz)

[[ 0  2  4  6  8]
 [10 12 14 16 18]]

### <a name="markdown38"></a> Producto entre Matrices.
[Indice](#markdown100)

In [92]:
prod_matr = np.matmul(matriz, matriz_01.T)
print(prod_matr)
# Forma equivalente:
prod_matr_01 = matriz @ matriz_01.T
print(prod_matr_01)

[[ 30  80]
 [ 80 255]]
[[ 30  80]
 [ 80 255]]

### Pandas:
[Indice Pandas](#markdown1000)

#### Pandas es una librería de Python especializada en el manejo y análisis de estructuras de datos. El nombre viene de “Panel data”.

* Velocidad
* Poco código
* Múltiples formatos de archivos
* Alineación inteligente

### <a name="markdown39"></a> Pandas Series.
[Indice Pandas](#markdown1000)

#### Es muy parecido a un array de una dimensión (o vector) de NumPy.

* Arreglo unidimensional indexado --> El índice comienza en "1".
* Búsqueda por índice
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos

### <a name="markdown40"></a> Creando lista con índices específicos
[Indice Pandas](#markdown1000)

In [3]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict)

### <a name="markdown41"></a> Pandas DataFrame
[Indice Pandas](#markdown1000)
#### Muy parecido a las estructuras matriciales trabajadas con NumPy.

* Estructura principal
* Arreglo de dos dimensiones
* Búsqueda por índice (columnas (uso el nombre) o filas (inicia en 0 hasta la última)), 
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos
* Tamaño variable

### <a name="markdown42"></a> Creando una structura matricial con diccionarios.
[Indice Pandas](#markdown1000)

In [7]:
dict = {
    'Jugador':['Navas','Mbappe','Neymar','Messi'],
    'Altura':[183.0, 170.0, 170.0, 163.0],
    'Goles':[2, 200, 150, 500]
}

In [15]:
df_players = pd.DataFrame(dict, index=[1,7,10,30]) # si no usamos el index usa el default.
display(df_players)

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

In [14]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

### <a name="markdown43"></a> Leyendo CSV:
[Indice Pandas](#markdown1000)

#### Sintaxis:
```python
df = pd.read_csv(filepath_or_buffer, sep=',', header='infer', names=None, ...)
```
Aquí hay una explicación de algunos de los parámetros más comunes de la función:

* **filepath_or_buffer:** Especifica la ubicación del archivo CSV que se va a leer. Puede ser una cadena de ruta de archivo o una URL.
* **sep:** Especifica el delimitador utilizado en el archivo CSV para separar las columnas. Por defecto, se utiliza la coma (,), pero se puede cambiar a otro carácter, como punto y coma (;), tabulación (\t), etc.
* **header:** Especifica la fila que contiene los nombres de las columnas. Por defecto, se toma la primera fila como encabezado (header='infer'), pero también se puede establecer en None si el archivo CSV no tiene una fila de encabezado.
* **names:** Permite proporcionar una lista de nombres de columnas personalizados en caso de que el archivo CSV no tenga una fila de encabezado.
* **Otros parámetros:** La función read_csv() también admite muchos otros parámetros, como dtype para especificar el tipo de datos de las columnas, na_values para manejar los valores nulos, parse_dates para analizar columnas como fechas, entre otros.

### Sintaxis Completa:
```python
df = pd.read_csv(
    filepath_or_buffer,  # Ruta del archivo CSV o una URL.
    sep=',',  # Delimitador utilizado en el archivo CSV para separar las columnas.
    delimiter=None,  # Delimitador adicional, si se necesita usar otro diferente al especificado en 'sep'.
    header='infer',  # Fila que contiene los nombres de las columnas. Por defecto, se toma la primera fila como encabezado.
    names=None,  # Lista de nombres de columnas personalizados en caso de que el archivo CSV no tenga una fila de encabezado.
    index_col=None,  # Nombre de columna o índice de columna para usar como índice de fila del DataFrame resultante.
    usecols=None,  # Lista de columnas a leer del archivo CSV.
    squeeze=False,  # Si se establece en True y el archivo CSV contiene solo una columna, se devuelve una Serie en lugar de un DataFrame.
    prefix=None,  # Prefijo a agregar a los nombres de las columnas si no hay encabezado.
    mangle_dupe_cols=True,  # Renombrar las columnas duplicadas si es necesario.
    dtype=None,  # Tipo de datos de las columnas.
    engine=None,  # Motor de análisis a utilizar. Por defecto, se selecciona automáticamente según la extensión del archivo.
    converters=None,  # Diccionario de funciones para convertir valores en determinadas columnas.
    true_values=None,  # Lista de valores que se considerarán verdaderos.
    false_values=None,  # Lista de valores que se considerarán falsos.
    skiprows=None,  # Número de filas a omitir desde el comienzo del archivo CSV.
    nrows=None,  # Número máximo de filas a leer desde el archivo CSV.
    skip_blank_lines=True,  # Omitir las líneas en blanco.
    na_values=None,  # Lista de valores que se considerarán como valores nulos.
    keep_default_na=True,  # Mantener los valores por defecto que se consideran como valores nulos.
    na_filter=True,  # Detectar y convertir los valores nulos.
    verbose=False,  # Mostrar mensajes informativos durante la lectura del archivo.
    skipinitialspace=False,  # Omitir espacios iniciales en las columnas.
    skipfooter=0,  # Número de filas al final del archivo a omitir.
    nrows=None,  # Número máximo de filas a leer desde el archivo CSV.
    quotechar='"',  # Carácter utilizado para citar campos.
    quoting=csv.QUOTE_MINIMAL,  # Controla cuándo se citan los campos.
    doublequote=True,  # Controla si se permite el uso de comillas dentro de los campos citados.
    escapechar=None,  # Carácter de escape utilizado cuando se especifica `quoting` como QUOTE_NONE.
    comment=None,  # Carácter que indica el inicio de un comentario en el archivo CSV.
    encoding=None,  # Codificación utilizada para leer el archivo CSV.
    dialect=None,  # Clase dialecto de CSV personalizado para el análisis.
    error_bad_lines=True,  # Controla el comportamiento cuando se encuentran líneas inválidas.
    warn_bad_lines=True,  # Mostrar advertencias cuando)
```

In [2]:
df_books = pd.read_csv('bestsellers-with-categories.csv')
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### Agregando parámetros:

In [5]:
df_books.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [9]:
df_books = pd.read_csv('bestsellers-with-categories.csv', sep=',', header=0, names=['BookName', 'BookAuthor', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])
display(df_books)

,BookName,BookAuthor,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### <a name="markdown44"></a> Leyendo JSON:
[Indice Pandas](#markdown1000)

### Sintaxis:
```python
df = pd.read_json(
    path_or_buf,  # Ruta del archivo JSON o un objeto con contenido JSON.
    orient=None,  # Orientación de los datos. Puede ser 'split', 'records', 'index', 'columns' o 'values'.
    typ='frame',  # Define el tipo de objeto a crear. Por defecto, se crea un DataFrame, pero también puede ser 'series' para crear una Serie.
    dtype=True,  # Controla si se infieren los tipos de datos de las columnas automáticamente.
    convert_axes=True,  # Controla si se convierten los ejes del objeto JSON.
    convert_dates=True,  # Controla si se convierten las fechas automáticamente.
    keep_default_dates=True,  # Controla si se mantienen las fechas por defecto en caso de errores de conversión.
    numpy=False,  # Controla si los objetos JSON se convierten en arrays NumPy.
    precise_float=False,  # Controla si se utiliza una representación precisa de los números de punto flotante.
    date_unit=None,  # Unidad de tiempo para las fechas. Puede ser 's', 'ms', 'us' o 'ns'.
    encoding=None,  # Codificación utilizada para leer el archivo JSON.
    lines=False,  # Indica si el archivo JSON contiene una serie de objetos JSON separados por líneas.
    chunksize=None,  # Tamaño de los fragmentos para leer el archivo JSON de forma incremental.
    compression='infer',  # Método de compresión utilizado. Por defecto, se infiere automáticamente.
    nrows=None,  # Número máximo de filas a leer del archivo JSON.
    json_module=None,  # Módulo personalizado a utilizar para el análisis JSON.
)
```

In [14]:
df_json = pd.read_json('hpcharactersdataraw.json')
display(df_json)

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

In [15]:
df_json = pd.read_json('hpcharactersdataraw.json', typ='Series')
display(df_json)

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

###### <a name="markdown45"></a> Selectionando filas con slicing:
[Indice Pandas](#markdown1000)

In [16]:
df_books[0:4]

,BookName,BookAuthor,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

### <a name="markdown46"></a> Selectionando columnas con una lista:
[Indice Pandas](#markdown1000)

In [20]:
df_books[['BookName', 'BookAuthor', 'Price', 'Year']]

,BookName,BookAuthor,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,8,2016
1,11/22/63: A Novel,Stephen King,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,15,2018
3,1984 (Signet Classics),George Orwell,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,12,2019
...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,8,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,8,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,8,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,8,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,8,2019

### <a name="markdown47"></a> loc:
[Indice Pandas](#markdown1000)
```python
df.loc[row_indexer, column_indexer]
```
* **row_indexer:** Especifica las etiquetas o condiciones booleanas para las filas que se desean seleccionar. Puede ser un solo valor, una lista, un array NumPy booleano o una expresión booleana.
* **column_indexer:** Especifica las etiquetas o condiciones booleanas para las columnas que se desean seleccionar. Puede ser un solo valor, una lista, un array NumPy booleano o una expresión booleana.

In [22]:
df_books.loc[2]  # Accede a la fila con etiqueta 2

BookName       12 Rules for Life: An Antidote to Chaos
BookAuthor                          Jordan B. Peterson
User Rating                                        4.7
Reviews                                          18979
Price                                               15
Year                                              2018
Genre                                      Non Fiction
Name: 2, dtype: object

In [24]:
df_books.columns

Index(['BookName', 'BookAuthor', 'User Rating', 'Reviews', 'Price', 'Year',
       'Genre'],
      dtype='object')

In [25]:
df_books.loc[2:5, 'User Rating':'Year']  # Accede a las filas 2 a 5 y las columnas 'User Rating' a 'Year'

   User Rating  Reviews  Price  Year
2          4.7    18979     15  2018
3          4.7    21424      6  2017
4          4.8     7665     12  2019
5          4.4    12643     11  2011

In [29]:
df_books.loc[df_books['Price'] > 5]  # Filtra las filas donde el valor en 'Price' es mayor a 5

,BookName,BookAuthor,User Rating,Reviews,Price,Year,Genre
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8,4505,0,2011,Fiction
71,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,4.8,6812,0,2013,Fiction
116,Frozen (Little Golden Book),RH Disney,4.7,3642,0,2014,Fiction
193,JOURNEY TO THE ICE P,RH Disney,4.6,978,0,2014,Fiction
219,Little Blue Truck,Alice Schertle,4.9,1884,0,2014,Fiction
358,The Constitution of the United States,Delegates of the Constitutional,4.8,2774,0,2016,Non Fiction
381,The Getaway,Jeff Kinney,4.8,5836,0,2017,Fiction
461,The Short Second Life of Bree Tanner: An Eclip...,Stephenie Meyer,4.6,2122,0,2010,Fiction
505,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2013,Fiction
506,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2014,Fiction
507,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2015,Fiction
508,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2016,Fiction

In [37]:
df_01 = df_books.loc[df_books['Price'] < 1, 'Year'] = 2222  # Asigna el valor 2222 a 'Year' en las filas que cumplen la condición
display(df_books['Price']<1)

0      False
1      False
2      False
3      False
4      False
       ...
545    False
546    False
547    False
548    False
549    False
Name: Price, Length: 550, dtype: bool

In [38]:
df_books.loc[:, ['Reviews']] * -1 #multiplica por -1 todos los valores de la columna Reviews

     Reviews
0     -17350
1      -2052
2     -18979
3     -21424
4      -7665
..       ...
545    -9413
546   -14331
547   -14331
548   -14331
549   -14331

[550 rows x 1 columns]

In [44]:
df_books.loc[:, ['BookAuthor']] == 'JJ Smith' #muestra la columna Author con True en los valores que cumplen la condicion y False para los que no la cumplen

     BookAuthor
0          True
1         False
2         False
3         False
4         False
..          ...
545       False
546       False
547       False
548       False
549       False

[550 rows x 1 columns]

### <a name="markdown48"></a> iloc():
[Indice Pandas](#markdown1000)
* La función iloc() en Pandas se utiliza para acceder y seleccionar datos en un DataFrame mediante índices enteros en lugar de etiquetas. Proporciona una forma de filtrar y manipular datos basándose en posiciones numéricas de filas y columnas.

In [12]:
df_books.iloc[:, 0:3] # quiero todas las filas de las columnas desde 0 a 3

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7

In [13]:
df_books.iloc[1,3]*-1 # multiplica por -1 el valor en intersección fila índice 1 columna índice 3

-2052

In [14]:
df_books.iloc[:2, 2:] # desde la fila desde el inicio al índice 2, y columna índice 2 al final

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction

In [15]:
df_books.iloc[2]  # Accede a la tercera fila del DataFrame

Name           12 Rules for Life: An Antidote to Chaos
Author                              Jordan B. Peterson
User Rating                                        4.7
Reviews                                          18979
Price                                               15
Year                                              2018
Genre                                      Non Fiction
Name: 2, dtype: object

In [16]:
df_books.iloc[2:5, 0:3]  # Accede a las filas 3 a 5 y las columnas 1 a 3 del DataFrame

,Name,Author,User Rating
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8

In [17]:
df_books.iloc[2, 3]  # Accede al elemento en la tercera fila y cuarta columna del DataFrame

18979

### <a name="markdown49"></a> Eliminar columnas de un df:
[Indice Pandas](#markdown1000)

In [18]:
df_books.drop('Genre', axis=1) 
'''
axis=0 Filas, axis=1 Columnas, solo lo borra de la salida NO elemina el df original

Para borrarlo directamente desde el df:
df_books.drop('Genre', axis=1, inplace=True)

Tambíen lo borra asociandolo nuevamente al data frame, ej:
df_books = df_books.drop('Genre', axis=1)

Otra forma de borrado directamente desde el df con features the Python:
del def_books['Price']
'''

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019

### <a name="markdown50"></a> Eliminar filas de un df:
[Indice Pandas](#markdown1000)

In [ ]:
df_books.drop(0, axis=0) #borrado de la fila ínidce "0"

In [ ]:
df_books.drop([0,1,2], axis=0) #elimina las filas 0, 1 y 2 del dataFrame

In [ ]:
df_books.drop(range(0,10), axis=0) #elimina las primeras 10 filas del dataFrame

### <a name="markdown51"></a> Agregar columnas a un df:
[Indice Pandas](#markdown1000)

In [20]:
#Crea una nueva columna con el nombre de Nueva_columna de valores Nan
#nan --> valor no numérico.
df_books['Nueva_columna'] = np.nan 
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN

In [21]:
df_books.shape[0] #Devuelve el número de filas.

550

In [22]:
df_books.shape[1] #Devuelve el número de columnas.

8

In [27]:
total_row_num = df_books.shape[0]
data = np.arange(0, total_row_num)

In [29]:
df_books['range'] = data #Agrego una nueva columna con los valores de data
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_columna,range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN,4
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN,549

### <a name="markdown52"></a> Agregar filas **append()** a un df:
[Indice Pandas](#markdown1000)

* La función append() en pandas se utiliza para concatenar o unir dos o más DataFrames o Series. Permite agregar filas adicionales a un DataFrame existente.

* La sintaxis básica de la función append() es la siguiente:

```python
df1.append(df2)
```
* La función append() crea un nuevo DataFrame que contiene todas las filas de df1 seguidas de todas las filas de df2. El índice del nuevo DataFrame se mantiene o se reinicia dependiendo del parámetro ignore_index. Si ignore_index=True, se crea un nuevo índice numérico secuencial para el DataFrame resultante. Si ignore_index=False o no se especifica, se conserva el índice original de cada DataFrame.

* Es importante tener en cuenta que la función append() no modifica los DataFrames originales, sino que crea un nuevo DataFrame con las filas adicionales.
```python
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

df_combined = df1.append(df2)
print(df_combined)
```
* Este código creará un nuevo DataFrame df_combined que contendrá todas las filas de df1 seguidas de todas las filas de df2.

* Es importante tener en cuenta que la función append() puede ser costosa en términos de rendimiento si se utiliza repetidamente para agregar muchas filas a un DataFrame grande. En tales casos, puede ser más eficiente crear una lista de DataFrames y luego usar la función concat() para combinarlos en un solo DataFrame.

### <a name="markdown53"></a> Agregar filas **concat()** a un df:
[Indice Pandas](#markdown1000)

* La función concat() en pandas se utiliza para concatenar o unir dos o más DataFrames a lo largo de un eje específico (por defecto, el eje 0, que representa las filas).

* La sintaxis básica de la función concat() es la siguiente:
```python
pd.concat([df1, df2, df3, ...])
```
* donde df1, df2, df3, etc., son los DataFrames que se desean concatenar.

* La función concat() toma una lista de DataFrames como argumento y devuelve un nuevo DataFrame que contiene la concatenación de los DataFrames de la lista. Los DataFrames se concatenan uno tras otro a lo largo del eje especificado.

* Es posible especificar el eje a lo largo del cual se realiza la concatenación utilizando el parámetro axis. Si axis=0 (o no se especifica), los DataFrames se concatenan a lo largo de las filas, lo que resulta en un DataFrame con más filas. Si axis=1, los DataFrames se concatenan a lo largo de las columnas, lo que resulta en un DataFrame con más columnas.

* Es posible controlar el manejo de los índices de los DataFrames utilizando el parámetro ignore_index. Si ignore_index=True, se crea un nuevo índice numérico secuencial para el DataFrame resultante. Si ignore_index=False (por defecto) o no se especifica, se conservan los índices originales de cada DataFrame.

* Aquí hay un ejemplo de cómo usar la función concat() en pandas:
```python
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

df_combined = pd.concat([df1, df2])
print(df_combined)
```
* Este código creará un nuevo DataFrame df_combined que contiene la concatenación de df1 y df2 a lo largo del eje 0 (filas).

* La función concat() también permite especificar otros parámetros, como join para controlar cómo se manejan las columnas que no coinciden entre los DataFrames y keys para agregar claves de nivel superior en el índice resultante.

* En resumen, la función concat() es útil cuando se desea combinar DataFrames en función de un eje específico, ya sea a lo largo de las filas o las columnas.

### <a name="markdown54"></a> Manejo de Datos Nulos:
[Indice Pandas](#markdown1000)

* En general, "NaN" (Not a Number) se utiliza para representar valores numéricos indefinidos o no válidos. Es un valor especial que se utiliza comúnmente en operaciones matemáticas y científicas cuando no se puede calcular o definir un resultado numérico adecuado. "NaN" es comúnmente utilizado en bibliotecas de análisis de datos como NumPy y pandas para indicar la ausencia de un valor numérico válido.

* Por otro lado, "None" se utiliza para representar la ausencia de un valor o la falta de algo. Es un objeto nulo en Python que se utiliza para indicar la ausencia de un valor en lugar de un valor numérico específico. "None" se utiliza comúnmente en contextos no numéricos y se puede aplicar a diferentes tipos de datos, no solo a números.

* En conclusión, "NaN" se utiliza para representar valores numéricos indefinidos o no válidos, mientras que "None" se utiliza para representar la ausencia de un valor en general, no necesariamente limitado a valores numéricos.

In [7]:
dict = {
    'Col_01': [1,2,3,np.nan],
    'Col_02': [4,np.nan,6,7],
    'Col_03': ['a','b','c',None]
      }

In [9]:
dict_df = pd.DataFrame(dict)
display(dict_df)

   Col_01  Col_02 Col_03
0     1.0     4.0      a
1     2.0     NaN      b
2     3.0     6.0      c
3     NaN     7.0   None

### <a name="markdown56"></a> isnull():
[Indice Pandas](#markdown1000)

In [10]:
dict_df.isnull() #Muestra True donde hay valores nulos

   Col_01  Col_02  Col_03
0   False   False   False
1   False    True   False
2   False   False   False
3    True   False    True

In [12]:
dict_df.isnull()*1 #Mostrando los valores nulos con "1"

   Col_01  Col_02  Col_03
0       0       0       0
1       0       1       0
2       0       0       0
3       1       0       1

### <a name="markdown56"></a> fillna():
[Indice Pandas](#markdown1000)

In [13]:
dict_df.fillna('Missing')

    Col_01   Col_02   Col_03
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [14]:
dict_df.fillna(dict_df.mean()) #en la col_03 no es posible calcular la media

/tmp/ipykernel_498/1250464251.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dict_df.fillna(dict_df.mean())

   Col_01    Col_02 Col_03
0     1.0  4.000000      a
1     2.0  5.666667      b
2     3.0  6.000000      c
3     2.0  7.000000   None

### <a name="markdown57"></a> Interpolate():
[Indice Pandas](#markdown1000)

* La función "interpolate()" en Pandas es utilizada para realizar interpolación en un objeto * DataFrame. La interpolación es un proceso mediante el cual se calculan valores que faltan o se rellenan los valores faltantes en una serie o columna de datos.

* Cuando aplicas la función "interpolate()" a un DataFrame, Pandas calcula valores intermedios basados en los valores existentes en la serie o columna. Utiliza técnicas de interpolación, como la interpolación lineal, para estimar los valores faltantes.

```python
DataFrame.interpolate(method='linear', axis=0, limit=None, inplace=False, limit_direction='forward', limit_area=None, downcast=None)
```
#### A continuación, se describen los parámetros más comunes utilizados en la función "interpolate()":

* **method:** Especifica el método de interpolación a utilizar. Puede ser 'linear', 'quadratic', 'cubic' y otros métodos disponibles. El valor por defecto es 'linear'.

* **axis:** Indica el eje a lo largo del cual se realiza la interpolación. Puede ser 0 o 'index' para realizar la interpolación por filas, o 1 o 'columns' para realizar la interpolación por columnas. El valor por defecto es 0.

* **limit:** Establece el número máximo de valores consecutivos que se pueden interpolar. Si hay más valores faltantes consecutivos que el límite especificado, no se realizará la interpolación.

* **inplace:** Indica si se modifica el DataFrame original o se crea uno nuevo con los valores interpolados. Si se establece en True, el DataFrame original se modifica directamente. El valor por defecto es False.

* **limit_direction:** Determina la dirección en la que se aplica el límite de interpolación. Puede ser 'forward', 'backward' o 'both'. 'forward' limita la interpolación hacia adelante, 'backward' limita la interpolación hacia atrás y 'both' limita en ambas direcciones. El valor por defecto es 'forward'.

* **limit_area:** Especifica la zona en la que se aplica el límite de interpolación. Puede ser 'inside', 'outside' o None. 'inside' limita solo los valores faltantes dentro de un rango continuo, 'outside' limita los valores faltantes fuera de un rango continuo y None no aplica límites. El valor por defecto es None.

* **downcast:** Permite reducir el tipo de datos de las columnas interpoladas. Puede ser 'integer', 'signed', 'unsigned', 'float' o None. Reducir el tipo de datos puede ahorrar memoria, pero puede perder precisión. El valor por defecto es None.

In [16]:
dict_df.interpolate() #No afecta los strings, y asume/ infiere que valor debería ir donde hay nulos

   Col_01  Col_02 Col_03
0     1.0     4.0      a
1     2.0     5.0      b
2     3.0     6.0      c
3     3.0     7.0   None

### <a name="markdown58"></a> dropna():
[Indice Pandas](#markdown1000)

In [17]:
dict_df.dropna() #Elimina toda la fila que contiene nulo en alguna posición
#No afecta el df original

   Col_01  Col_02 Col_03
0     1.0     4.0      a
2     3.0     6.0      c

### <a name="markdown59"></a> Filtrado por condiciones:
[Indice Pandas](#markdown1000)

In [25]:
greather_than_2016 = df_books['Year'] > 2016 #Muestra los valores en lógica booleana.
display(greather_than_2016)

0      False
1      False
2       True
3       True
4       True
       ...
545     True
546    False
547     True
548     True
549     True
Name: Year, Length: 550, dtype: bool

In [24]:
df_books[greather_than_2016] #Muestra solo los valores que cumplen la condición en el df.

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
...,...,...,...,...,...,...,...
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [27]:
only_fiction = df_books['Genre'] == 'Fiction'
display(only_fiction)

0      False
1       True
2      False
3       True
4      False
       ...
545     True
546    False
547    False
548    False
549    False
Name: Genre, Length: 550, dtype: bool

In [29]:
df_books[only_fiction & greather_than_2016]

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
...,...,...,...,...,...,...,...
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction

In [30]:
df_books[~greather_than_2016] #Negado de una condición

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction
...,...,...,...,...,...,...,...
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction

### <a name="markdown60"></a> Funciones Principales:
[Indice Pandas](#markdown1000)

### <a name="markdown61"></a> head():
[Indice Pandas](#markdown1000)

In [31]:
df_books.head(7) #Muestra las 7 primeras filas

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction

### <a name="markdown62"></a> info():
[Indice Pandas](#markdown1000)

In [32]:
df_books.info() #Información del df.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

### <a name="markdown63"></a> describe():
[Indice Pandas](#markdown1000)
* Solo de las columnas con valores numéricos, brinda valores estadísticos.

In [33]:
df_books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

### <a name="markdown64"></a> tail():
[Indice Pandas](#markdown1000)

In [35]:
df_books.tail(7) #Muestra los 7 últimos valores.

,Name,Author,User Rating,Reviews,Price,Year,Genre
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### <a name="markdown65"></a> memory_usage():
[Indice Pandas](#markdown1000)

In [36]:
df_books.memory_usage(deep=True) #Muestro el uso de memoria de mi df.

Index            132
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

### <a name="markdown66"></a> value_count():
[Indice Pandas](#markdown1000)

In [38]:
df_books['Author'].value_counts() #Cuantas veces se repite un valor en especifico.

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: Author, Length: 248, dtype: int64

### <a name="markdown67"></a> drop_duplicate():
[Indice Pandas](#markdown1000)
* Eliminar filas duplicadas de un DataFrame. 
* A continuación, se describe la sintaxis de la función:
```python
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
```
* **subset:** Especifica las columnas que se deben considerar para identificar las filas duplicadas. Puede ser un nombre de columna o una lista de nombres de columnas. Si no se proporciona, se considerarán todas las columnas del DataFrame. El valor por defecto es None.

* **keep:** Determina qué fila(s) mantener cuando se encuentran duplicados. Puede ser 'first' para mantener la primera aparición de los duplicados, 'last' para mantener la última aparición o False para eliminar todas las filas duplicadas. El valor por defecto es 'first'.

* **inplace:** Indica si se modifica el DataFrame original o se crea uno nuevo sin las filas duplicadas. Si se establece en True, el DataFrame original se modifica directamente. El valor por defecto es False.

* **ignore_index:** Indica si se deben restablecer los índices después de eliminar las filas duplicadas. Si se establece en True, los índices se reorganizan de forma consecutiva. El valor por defecto es False.

In [40]:
df_books.drop_duplicates() #Elimina valores duplicados.

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### <a name="markdown68"></a> sort_values():
[Indice Pandas](#markdown1000)
* Ordena un DataFrame o una Serie según los valores de una o varias columnas. 
* A continuación, se describe la sintaxis de la función:
```python
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, ignore_index=False, na_position='last')
```
* **by:** Especifica las columnas por las cuales se desea ordenar el DataFrame. Puede ser un nombre de columna o una lista de nombres de columnas. Si se proporciona una lista, el DataFrame se ordenará en función del orden de las columnas en la lista.

* **axis:** Indica el eje a lo largo del cual se realiza la clasificación. El valor 0 se refiere a la clasificación por filas (por defecto) y el valor 1 se refiere a la clasificación por columnas.

* **ascending:** Determina si la clasificación se realiza en orden ascendente o descendente. Si se establece en True, los valores se ordenarán en orden ascendente. Si se establece en False, los valores se ordenarán en orden descendente. El valor por defecto es True.

* **inplace:** Indica si se modifica el DataFrame original o se crea uno nuevo ordenado. Si se establece en True, el DataFrame original se modifica directamente. El valor por defecto es False.

* **ignore_index:** Indica si se deben restablecer los índices después de la clasificación. Si se establece en True, los índices se reorganizan de forma consecutiva. El valor por defecto es False.

* **na_position:** Especifica la posición de los valores NaN en la clasificación. Si se establece en 'last', los valores NaN se colocarán al final. Si se establece en 'first', los valores NaN se colocarán al principio. El valor por defecto es 'last'.

In [41]:
df_books.sort_values('Year', ascending=False)

,Name,Author,User Rating,Reviews,Price,Year,Genre
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,4.6,22288,12,2019,Non Fiction
...,...,...,...,...,...,...,...
418,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8,4628,7,2009,Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
92,"Eat This, Not That! Thousands of Simple Food S...",David Zinczenko,4.3,956,14,2009,Non Fiction
139,Good to Great: Why Some Companies Make the Lea...,Jim Collins,4.5,3457,14,2009,Non Fiction
299,Sookie Stackhouse,Charlaine Harris,4.7,973,25,2009,Fiction

### <a name="markdown69"></a> groupby():
[Indice Pandas](#markdown1000)

* Agrupa datos en función de una o varias columnas en un DataFrame.
* A continuación, se describe la sintaxis de la función:
```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs)
```
* **by:** Especifica las columnas o etiquetas por las cuales se desea agrupar el DataFrame. Puede ser un nombre de columna, una lista de nombres de columnas o una función. Si se proporciona una función, se aplicará a cada valor del índice y se utilizará el resultado como criterio de agrupación.

* **axis:** Indica el eje a lo largo del cual se realiza el agrupamiento. El valor 0 se refiere al agrupamiento por filas (por defecto) y el valor 1 se refiere al agrupamiento por columnas.

* **level:** Permite realizar el agrupamiento en un nivel específico de un MultiIndex.

* **as_index:** Determina si las columnas utilizadas para el agrupamiento se convierten en el índice del resultado. Si se establece en True, las columnas de agrupamiento se convierten en índices. Si se establece en False, las columnas de agrupamiento se mantienen como columnas en el resultado. El valor por defecto es True.

* **sort:** Indica si se ordenan los resultados según las claves de agrupamiento. Si se establece en True, los resultados se ordenan. Si se establece en False, los resultados no se ordenan. El valor por defecto es True.

* **group_keys:** Determina si se incluyen las claves de agrupamiento en el resultado. Si se establece en True, se incluyen las claves. Si se establece en False, las claves no se incluyen. El valor por defecto es True.

* **squeeze:** Indica si se devuelve un objeto Series en lugar de un objeto DataFrame cuando hay una sola columna de agrupamiento. Si se establece en True y hay una sola columna de agrupamiento, se devuelve un objeto Series. Si se establece en False o hay varias columnas de agrupamiento, se devuelve un objeto DataFrame. El valor por defecto es False.

* **observed:** Especifica si se deben incluir solo los valores observados en el índice de agrupamiento. Si se establece en True, solo se incluirán los valores observados. Si se establece en False, se incluirán todos los valores en el índice de agrupamiento. El valor por defecto es False.

In [42]:
df_books.groupby('Author').count() #Agrupa y cuenta, "Author" pasa a ser el índice de mi df.
#Se puede convinar con distintas funciones de agg (agregación), por ej. sum(), averange(), min(), etc

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [44]:
df_books.groupby('Author').sum().loc['William Davis']

/tmp/ipykernel_498/3809529459.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_books.groupby('Author').sum().loc['William Davis']

User Rating        8.8
Reviews        14994.0
Price             12.0
Year            4025.0
Name: William Davis, dtype: float64

In [45]:
df_books.groupby('Author').sum().reset_index() #Ahora "Author" ya no es el ínidce.

/tmp/ipykernel_498/981875369.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_books.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

### <a name="markdown70"></a> agg():
[Indice Pandas](#markdown1000)
* Se utiliza para aplicar una o varias funciones de agregación a un grupo de datos en un DataFrameGroupBy.
* A continuación, se describe la sintaxis de la función:
```python
DataFrameGroupBy.agg(func=None, *args, **kwargs)
```
Aquí se explica cada uno de los parámetros más comunes utilizados en la función "agg()":

* **func:** Especifica la función o funciones de agregación que se aplicarán a los grupos de datos. Puede ser una función integrada de Pandas, una función personalizada o una lista de funciones. Algunas funciones de agregación comunes incluyen 'mean', 'sum', 'min', 'max', 'count', 'std', 'var', entre otras. También es posible utilizar lambdas o funciones personalizadas.

* *args y **kwargs: Se utilizan para pasar argumentos adicionales a las funciones de agregación. Esto permite personalizar aún más el comportamiento de las funciones de agregación.

La función "agg()" se aplica al objeto DataFrameGroupBy y devuelve un nuevo DataFrame que contiene los resultados de las funciones de agregación aplicadas a cada grupo de datos.

```python
import pandas as pd

df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [1, 2, 3, 4, 5, 6]
})

grouped = df.groupby('Category')
result = grouped.agg({'Value': ['sum', 'mean'], 'Category': 'count'})

print(result)
```
* *En este ejemplo, se agrupa el DataFrame por la columna 'Category'. Luego, se aplica la función 'sum' y 'mean' a la columna 'Value', y se aplica la función 'count' a la columna 'Category'. El resultado será un nuevo DataFrame que muestra la suma, el promedio y la cantidad de elementos para cada categoría.*

In [48]:
df_books.groupby('Author').agg(['min', 'max'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

### <a name="markdown71"></a> agg() usando un diccionario, de parámetros:
[Indice Pandas](#markdown1000)

In [50]:
df_books.groupby('Author').agg({'Reviews': ['min', 'max'], 'User Rating': 'sum'})

                           Reviews        User Rating
                               min    max         sum
Author
Abraham Verghese              4866   4866         9.2
Adam Gasiewski                3113   3113         4.4
Adam Mansbach                 9568   9568         4.8
Adir Levy                     8170   8170         4.8
Admiral William H. McRaven   10199  10199         4.7
...                            ...    ...         ...
Walter Isaacson               3014   7827        13.7
William Davis                 7497   7497         8.8
William P. Young             19720  19720         9.2
Wizards RPG Team             16990  16990        14.4
Zhi Gang Sha                    37    220         9.2

[248 rows x 3 columns]

In [51]:
df_books.groupby(['Author', 'Year']).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]

### <a name="markdown72"></a> Combinando Data Frames:
[Indice Pandas](#markdown1000)
![join](https://static.platzi.com/media/user_upload/merge-ab0ffccb-3ec3-44f5-94a7-c96896993212.jpg)
* **Left join:** Da prioridad al DataFrame de la izquierda. Trae siempre los datos de la izquierda y las filas en común con el DataFrame de la derecha.
* **Right join:** Da prioridad al DataFrame de la derecha. Trae siempre los datos de la derecha y las filas en común con el DataFrame de la izquierda.
* **Inner join:** Trae solamente aquellos datos que son común en ambos DataFrame
* **Outer join:** Trae los datos tanto del DataFrame de la izquierda como el de la derecha, incluyendo los datos que comparten ambos.

### <a name="markdown73"></a> Diferencias entre Merge(), Join(), y Concat():
[Indice Pandas](#markdown1000)

* **Concat:** La función concat() se utiliza para concatenar DataFrames a lo largo de un eje específico (filas o columnas). Se puede usar para agregar filas adicionales o agregar columnas a un DataFrame existente. No realiza combinaciones basadas en valores coincidentes, simplemente concatena los DataFrames uno después del otro.

* **Merge:** La función merge() se utiliza para combinar dos o más DataFrames basándose en una o más columnas comunes. Se asemeja a la operación de "JOIN" en SQL. Permite especificar el tipo de unión (inner, outer, left, right) y el criterio de combinación (columnas en común). Se puede combinar DataFrames en función de columnas coincidentes o utilizar índices como clave de combinación.

* **Join:** La función join() también se utiliza para combinar DataFrames, pero se basa en los índices de los DataFrames en lugar de columnas. Permite combinar DataFrames utilizando sus índices como clave de combinación. Por defecto, realiza una unión izquierda (left join), pero también se pueden especificar otros tipos de uniones (inner, outer, right).

#### Concluyendo, la principal diferencia entre estas funciones radica en cómo combinan los DataFrames: merge() y join() se basan en columnas o índices coincidentes, mientras que concat() simplemente concatena los DataFrames uno después del otro sin tener en cuenta los valores de las columnas o los índices. La elección de la función adecuada depende de la forma en que se desee combinar los datos y las claves de combinación disponibles.

In [3]:
df1 = pd.DataFrame(
    {
        'A':['A0', 'A1', 'A2','A3'],
        'B':['B0', 'B1', 'B2','B3'],
        'C':['C0', 'C1', 'C2','C3'],
        'D':['D0', 'D1', 'D2','D3']
    }
)


df2 = pd.DataFrame(
    {
        'A':['A4', 'A5', 'A6','A7'],
        'B':['B4', 'B5', 'B6','B7'],
        'C':['C4', 'C5', 'C6','C7'],
        'D':['D4', 'D5', 'D6','D7']
    }
)

### <a name="markdown74"></a> concat():
[Indice Pandas](#markdown1000)

In [55]:
pd.concat([df1, df2]) #Por default se tiene "axis=0", los índices se heredan.

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [57]:
pd.concat([df1, df2], ignore_index=True) #ignora los índices heredados

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [4]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

### <a name="markdown75"></a> merge():
[Indice Pandas](#markdown1000)

* La función merge() en Pandas se utiliza para combinar dos o más DataFrames en función de una o más columnas comunes. Permite realizar operaciones similares a las uniones en SQL, como combinaciones internas, externas, izquierdas y derechas. A continuación se presenta la sintaxis básica de la función merge():
```python
pd.merge(left_df, right_df, on='common_column', how='inner', suffixes=('_x', '_y'))
#Otra posibilidad de sintaxis:
new_df = left_df.merge(right_df, on='common_column')
```
* **left y right:** Son los DataFrames que se desean combinar.
* **on:** Especifica la(s) columna(s) en común sobre la cual se realizará la combinación. Si no se especifica, la función buscará automáticamente columnas con los mismos nombres en ambos DataFrames, si tienen diferentes nombre se usa **left_on** y **right_on**.
* **how:** Especifica el tipo de combinación a realizar. Los valores posibles son: **'inner'** (combinación interna), **'outer'** (combinación externa), **'left'** (combinación izquierda) y **'right'** (combinación derecha).
* **suffixes:** Especifica los sufijos a agregar a las columnas coincidentes en caso de que existan columnas con el mismo nombre en ambos DataFrames.

In [7]:
df_left = pd.DataFrame(
    {
        'key' : ['k0', 'k1', 'k2','k3'],
        'A' : ['A0', 'A1', 'A2','A3'],
        'B': ['B0', 'B1', 'B2','B3']
    }
)

df_right = pd.DataFrame(
    {
        'key' : ['k0', 'k1', 'k2','k3'],
        'C' : ['C0', 'C1', 'C2','C3'],
        'D': ['D0', 'D1', 'D2','D3']
    }
)

In [8]:
df_left.merge(df_right) #Realiza el merge con la columna en común.

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [9]:
df_left.merge(df_right, on='key') #Es una buena practica especificar la columna en común.

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [29]:
df_left.merge(df_right, on='key', how='inner')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [11]:
#En este caso particular hay una columna "key" con diferente nombre "key_01".
df_left_01 = pd.DataFrame(
    {
        'key' : ['k0', 'k1', 'k2','k3'],
        'A' : ['A0', 'A1', 'A2','A3'],
        'B': ['B0', 'B1', 'B2','B3']
    }
)

df_right_01 = pd.DataFrame(
    {
        'key_01' : ['k0', 'k1', 'k2','k3'],
        'C' : ['C0', 'C1', 'C2','C3'],
        'D': ['D0', 'D1', 'D2','D3']
    }
)

In [12]:
#Definimos las columnas de ambos df que deben coincidir.
df_left_01.merge(df_right_01, left_on='key',right_on='key_01')

  key   A   B key_01   C   D
0  k0  A0  B0     k0  C0  D0
1  k1  A1  B1     k1  C1  D1
2  k2  A2  B2     k2  C2  D2
3  k3  A3  B3     k3  C3  D3

In [14]:
#Otro caso particular donde en "key_02" tenemos valore NaN.
df_left_02 = pd.DataFrame({'key' : ['k0', 'k1', 'k2','k3'],
 'A' : ['A0', 'A1', 'A2','A3'],
'B': ['B0', 'B1', 'B2','B3']})

df_right_02 = pd.DataFrame({'key_02' : ['k0', 'k1', 'k2', np.nan],
 'C' : ['C0', 'C1', 'C2','C3'],
'D': ['D0', 'D1', 'D2','D3']})

In [19]:
df_left_02.merge(df_right_02, left_on='key', right_on='key_02', how='left')

  key   A   B key_02    C    D
0  k0  A0  B0     k0   C0   D0
1  k1  A1  B1     k1   C1   D1
2  k2  A2  B2     k2   C2   D2
3  k3  A3  B3    NaN  NaN  NaN

In [30]:
#Explorando el parámetro "suffixes":
df_left_03 = pd.DataFrame(
    {
        'key' : ['k0', 'k1', 'k2','k3'],
        'A' : ['A0', 'A1', 'A2','A3'],
        'B': ['B0', 'B1', 'B2','B3'],
        'CC' : ['CCA0', 'CCA1', 'CCA2','CCA3']
    }
)

df_right_03 = pd.DataFrame(
    {
        'key' : ['k0', 'k1', 'k12','k33'],
        'C' : ['C0', 'C1', 'C2','C3'],
        'D': ['D0', 'D1', 'D2','D3'],
        'CC' : ['ffA0', 'ffA1', 'ffA2','ffA3']
    }
)

In [31]:
df_left_03.merge(df_right_03, on='key', how='inner', suffixes=('_left', '_right'))

  key   A   B CC_left   C   D CC_right
0  k0  A0  B0    CCA0  C0  D0     ffA0
1  k1  A1  B1    CCA1  C1  D1     ffA1

### <a name="markdown76"></a> join():
[Indice Pandas](#markdown1000)
* La función join() en Pandas se utiliza para combinar dos DataFrames basándose en un índice o en columnas específicas. Proporciona una forma conveniente de unir DataFrames en función de sus índices o columnas comunes.

* La sintaxis básica de join() es la siguiente:
```python
df_left.join(df_right, on=None, how='left', lsuffix='', rsuffix='')
```
* **other:** El DataFrame o la estructura de datos que se va a unir con el DataFrame principal.

* **on:** Columnas o índices en los cuales realizar la unión. Si no se especifica, se utilizarán los índices del DataFrame principal.

* **how:** Especifica el tipo de unión a realizar. Puede ser 'left', 'right', 'inner' o 'outer'. Por defecto, es 'left'.

* **lsuffix y rsuffix:** Sufijos para añadir a las columnas con nombres en común si existen en ambos DataFrames.

* La función join() combina los DataFrames en función de las columnas o índices especificados, y los datos se alinean correctamente según los valores coincidentes. La unión puede ser de tipo 'left', 'right', 'inner' o 'outer', lo que determina qué filas y columnas se incluyen en el resultado.

* Es importante tener en cuenta que la función join() se basa en las etiquetas de índice o columnas, y no en los valores reales de los datos. Por lo tanto, es necesario asegurarse de que las etiquetas de índice o columnas sean únicas y estén correctamente alineadas entre los DataFrames que se van a unir.

* En conclusión, la función join() en Pandas permite combinar DataFrames en función de índices o columnas comunes, proporcionando una forma eficiente de unir conjuntos de datos relacionados.

In [32]:
df_left_04 = pd.DataFrame(
    {
        'A': ['A0','A1','A2'],
        'B': ['B0','B1','B2']
    },
        index=['k0','k1','k2']
)

df_right_04 =pd.DataFrame(
    {
        'C': ['C0','C1','C2'],
        'D': ['D0','D1','D2']
    },
        index=['k0','k2','k3']
)

In [34]:
df_left_04.join(df_right_04) #"how=left", por defecto

     A   B    C    D
k0  A0  B0   C0   D0
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1

In [37]:
df_left_04.join(df_right_04, how='right')

      A    B   C   D
k0   A0   B0  C0  D0
k2   A2   B2  C1  D1
k3  NaN  NaN  C2  D2

In [38]:
df_left_04.join(df_right_04, how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1

In [39]:
df_left_04.join(df_right_04, how='outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2

### <a name="markdown77"></a> pivot_table():
[Indice Pandas](#markdown1000)

* Oracle, PostgreSQL y otros motores de bases de datos la tienen implementada desde hace muchos años. 
* Pivot, básicamente, transforma los valores de determinadas columnas o filas en los índices de un nuevo DataFrame, y la intersección de estos es el valor resultante.

* La función pivot_table() en Pandas se utiliza para **"crear una tabla dinámica"** a partir de un DataFrame. Permite resumir y reorganizar los datos de manera conveniente, agrupándolos en filas y columnas de acuerdo con una o más variables específicas. Esto es especialmente útil cuando se trabaja con conjuntos de datos grandes y se desea obtener un resumen estructurado y resumido de los datos.

* La sintaxis básica de pivot_table() es la siguiente: 

```python
pd.pivot_table(data, index=None, columns=None, values=None, aggfunc='mean', fill_value=None)
#Otra forma de sintaxis:
df_new.pivot_table(index=None, columns=None, values=None, aggfunc='mean', fill_value=None)
```
* **data:** El DataFrame en el que se basará la tabla dinámica.

* **index:** Las columnas del DataFrame que se utilizarán como índices de la tabla dinámica. Los valores únicos en estas columnas se convierten en las filas de la tabla dinámica.

* **columns:** Las columnas del DataFrame que se utilizarán para crear columnas adicionales en la tabla dinámica. Los valores únicos en estas columnas se convierten en las columnas de la tabla dinámica.

* **values:** Las columnas del DataFrame que se utilizarán para calcular los valores de la tabla dinámica. Por defecto, se utilizan todas las columnas numéricas del DataFrame.

* **aggfunc:** La función de agregación que se aplicará a los valores de la tabla dinámica. Por defecto, se utiliza la media ('mean'), pero se pueden usar otras funciones como 'sum', 'count', 'min', 'max', etc.

* **fill_value:** El valor que se utilizará para rellenar las celdas vacías o con valores faltantes en la tabla dinámica.

In [42]:
df_books.head(5)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [43]:
#Como resultado, los valores de Author pasan a formar el índice por fila y los valores 
#de Genre pasan a formar parte de los índices por columna, y el User Rating se mantiene como valor.

df_books.pivot_table(index='Author', columns='Genre', values='User Rating')

Genre                       Fiction  Non Fiction
Author
Abraham Verghese                4.6          NaN
Adam Gasiewski                  NaN     4.400000
Adam Mansbach                   4.8          NaN
Adir Levy                       4.8          NaN
Admiral William H. McRaven      NaN     4.700000
...                             ...          ...
Walter Isaacson                 NaN     4.566667
William Davis                   NaN     4.400000
William P. Young                4.6          NaN
Wizards RPG Team                4.8          NaN
Zhi Gang Sha                    NaN     4.600000

[248 rows x 2 columns]

In [45]:
df_books.pivot_table(index='Genre', columns='Year', values='User Rating', aggfunc='sum')

Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Genre,,,,,,,,,,,
Fiction,110.2,92.3,97.0,94.4,109.1,134.3,79.1,89.6,113.7,99.5,96.4
Non Fiction,119.0,135.6,130.9,132.2,118.6,96.8,153.3,144.3,119.3,133.9,140.6

### <a name="markdown78"></a> melt():
[Indice Pandas](#markdown1000)

* La función melt() en Pandas se utiliza para transformar un DataFrame de formato ancho a un formato largo, también conocido como "despivoteo" o "unpivot". Esta función es útil cuando se quiere reorganizar los datos de manera que las columnas se conviertan en una variable y los valores de esas columnas se conviertan en una nueva columna que contenga los valores correspondientes.

* La sintaxis básica de melt() es la siguiente:

```python
pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)
```
* **frame:** El DataFrame que se desea derretir, es decir, transformar de formato ancho a formato largo.

* **id_vars:** Las columnas del DataFrame que se mantendrán fijas y no serán derretidas. Estas columnas serán utilizadas como identificadores únicos para las filas resultantes.

* **value_vars:** Las columnas del DataFrame que serán derretidas, es decir, las columnas cuyos valores se convertirán en una nueva columna en formato largo.

* **var_name:** El nombre de la nueva columna que contendrá los nombres de las columnas derretidas. Por defecto, se utiliza el nombre "variable".

* **value_name:** El nombre de la nueva columna que contendrá los valores correspondientes a las columnas derretidas. Por defecto, se utiliza el nombre "value".

* **col_level:** En caso de tener columnas con múltiples niveles de índices, se puede especificar el nivel de columna a derretir.

In [47]:
#El método melt toma las columnas del DataFrame y las pasa a filas, con dos nuevas columnas 
#para especificar la antigua columna y el valor que traía.
df_books.head(5)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [51]:
df_books[['Name', 'Genre']].head(5).melt()

  variable                                              value
0     Name                      10-Day Green Smoothie Cleanse
1     Name                                  11/22/63: A Novel
2     Name            12 Rules for Life: An Antidote to Chaos
3     Name                             1984 (Signet Classics)
4     Name  5,000 Awesome Facts (About Everything!) (Natio...
5    Genre                                        Non Fiction
6    Genre                                            Fiction
7    Genre                                        Non Fiction
8    Genre                                            Fiction
9    Genre                                        Non Fiction

In [53]:
df = pd.DataFrame(
    {
        'id': [1, 2, 3],
        'Name': ['John', 'Alice', 'Mike'],
        'Maths': [80, 90, 70],
        'Science': [85, 95, 75]
    }
)

In [56]:
df_melted = pd.melt(df, id_vars=['id', 'Name'], value_vars=['Maths', 'Science'], var_name='Maths_Science', value_name='Maths_Science_Score')
display(df_melted)
'''
En este ejemplo, el DataFrame original tiene las columnas 'id', 'Name', 'Maths' y 'Science'. 
Al aplicar la función melt() especificando las columnas 'id' y 'Name' como id_vars y las columnas
'Maths' y 'Science' como value_vars, se crea un nuevo DataFrame en formato largo. 
Las columnas derretidas se convierten en las columnas 'Subject' y 'Score', y los 
valores correspondientes se llenan en la columna 'Score'.
'''

   id   Name Maths_Science  Maths_Science_Score
0   1   John         Maths                   80
1   2  Alice         Maths                   90
2   3   Mike         Maths                   70
3   1   John       Science                   85
4   2  Alice       Science                   95
5   3   Mike       Science                   75

"\nEn este ejemplo, el DataFrame original tiene las columnas 'id', 'Name', 'Maths' y 'Science'. \nAl aplicar la función melt() especificando las columnas 'id' y 'Name' como id_vars y las columnas\n'Maths' y 'Science' como value_vars, se crea un nuevo DataFrame en formato largo. \nLas columnas derretidas se convierten en las columnas 'Subject' y 'Score', y los \nvalores correspondientes se llenan en la columna 'Score'.\n"

### <a name="markdown79"></a> apply():
[Indice Pandas](#markdown1000)

* La función apply() en Pandas se utiliza para aplicar una función personalizada a uno o más elementos de un DataFrame o una Serie. Permite realizar operaciones personalizadas en los datos de forma eficiente.

* La sintaxis básica de apply() es la siguiente:

* Para aplicar la función a un DataFrame:
```python
dataframe.apply(func, axis=0)
```
* Para aplicar la función a una Serie:
```python
series.apply(func)
```
* **func:** La función que se va a aplicar a los elementos del DataFrame o la Serie. Puede ser una función predefinida o una función personalizada creada por el usuario.

* **axis (solo para DataFrames):** Especifica el eje a lo largo del cual se aplicará la función. El valor predeterminado es 0 y se aplica a las columnas. Si se establece en 1, se aplicará a lo largo de las filas.

In [57]:
df_books.head(5)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [58]:
def duplicate(value):
    return value*2

In [61]:
df_books['User_Rating_02'] = df_books['User Rating'].apply(duplicate)
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre,User_Rating_02
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4

In [68]:
df_books['User_Rating_03'] = df_books['User Rating'].apply(lambda x: x*3)
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre,User_Rating_02,User_Rating_03,User_Rating_04
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,14.1,4.700
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,13.8,1.150
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,14.1,4.700
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,14.1,1.175
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,14.4,4.800
...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8,14.7,1.225
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4,14.1,4.700
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4,14.1,4.700
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4,14.1,4.700
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4,14.1,4.700

In [69]:
#Divide "User Rating" por 4 si se cumple la condición, sino queda igual.
df_books['User_Rating_04'] = df_books.apply(lambda x: x['User Rating'] / 4 if x['Genre'] == 'Fiction' else x['User Rating'], axis=1)
display(df_books)

,Name,Author,User Rating,Reviews,Price,Year,Genre,User_Rating_02,User_Rating_03,User_Rating_04
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4,14.1,4.700
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2,13.8,1.150
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4,14.1,4.700
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4,14.1,1.175
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6,14.4,4.800
...,...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8,14.7,1.225
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4,14.1,4.700
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4,14.1,4.700
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4,14.1,4.700
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4,14.1,4.700